<h2>ログイン</h2>

<%= link_to "新規登録", new_user_registration_path %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <p><%= f.label :"メールアドレス" %></p>
    <p><%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
  </div>

  <div class="field">
    <p><%= f.label :"パスワード" %></p>
    <p><%= f.password_field :password, autocomplete: "current-password" %></p>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<%# render "devise/shared/links" %>
